<header class="main-header">
    <div class="container">
        <a href="../index.html" class="logo">
            <img src="../assets/images/logo.png" alt="Bleach Logo">
        </a>
        
        <nav class="main-nav">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../pages/characters.html">Personajes</a></li>
                <li><a href="../pages/arcs.html">Arcos</a></li>
            </ul>
        </nav>
    </div>
</header>